* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source Sans 3';
    font-size: 13px;
}

.container {
    width: 375px;
}